<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Posts!</h1>
    <% for(let post of posts) {%> 
        <li>
            <%= post.post %> - <b><%= post.username %></b> 
            <a href="/posts/<%=post.id %>">Details</a>
        </li>
    <% } %>
    <a href="posts/new">Create New Post</a>
</body>
</html>