<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post!</title>
</head>
<body>
    <h1>Create New Post!</h1>
    <form action="/posts" method="post">
        <section>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="username">
        </section>
        <section>
            <label for="post">Post:</label>
            <br>
            <textarea name="post" id="post" cols="30" rows="5"></textarea>
        </section>
        <button>Submit</button>
        <a href="/posts">Back</a>
    </form>
</body>
</html>